body {
    font-family: Arial, sans-serif;
    color: #555;
}

p {
    line-height: 1.5;
}

a,
a:visited {
    color: #1abc9c;
    transition: color .3s;
}

a:hover,
a:focus,
a:active {
    color: #16a085;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #16a085;
}

.big-title {
    font-size: 3em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
    margin-top: 0;
}
