<div class="bab-Separator">
	<div class="bab-Separator-element bab-Separator-element--small"></div>
	<div class="bab-Separator-element bab-Separator-element--medium"></div>
	<div class="bab-Separator-element bab-Separator-element--big"></div>
	<div class="bab-Separator-element bab-Separator-element--medium"></div>
	<div class="bab-Separator-element bab-Separator-element--small"></div>
</div>
