{# src/RCloud/Bundle/UserBundle/Resources/views/Dashboard/show.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
<ul>
    <li><a href="{{ path('show_editor') }}">Afficher l'editeur de code</a></li>
</ul>
{% endblock %}