{% extends "SymfonyTwigBundle::layoutError.html.twig" %}

{% block content %}
    <p>Le serveur a rencontré une erreur "{{ status_code }}". </p>

    <p>N'hésitez pas à nous envoyer un mail à <a href="mailto:bab-de-laura@hotmail.fr">bab-de-laura@hotmail.fr</a> pour nous expliquer ce que vous faisiez lorsque cette erreur est apparue. Nous la corrigerons aussi vite que possible. <p>

    <br/>
    <p>Merci de votre aide ! </p>
{% endblock %}
