<section class="bab-Grid bab-Grid--inlineBlock">
{% for article in articles %}
    <div class="bab-Grid-cell bab-Grid-cell--1-3">
        {% include 'BabdelauraBlogBundle:Components/article:preview.html.twig' with {'article': article} only %}
    </div>
{% endfor %}
</section>
