<div class="align-center">
{% if previous is defined %}
    <a class="bab-Button" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
        &lt; Articles plus récents
    </a>
{% endif %}

{% if next is defined %}
    <a class="bab-Button" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
        Articles plus anciens &gt;
    </a>
{% endif %}
</div>
