<div class="bab-Article-similars">
    <div class="bab-Grid bab-Grid--smallGutters">
        {% set nbArticles = articles|length %}
        {% for article in articles %}
        <div class="bab-Grid-cell bab-Grid-cell--1-{{ nbArticles }}">
            {% include 'BabdelauraBlogBundle:Components/article:preview.html.twig' with {'article': article, 'small': true} only %}
        </div>
        {% endfor %}
    </div>
</div>
