{% extends "BabdelauraBlogBundle:Admin:layout.html.twig" %}

{% block content %}
    <h1>Liste des catégories</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Titre</th>
                <th class="text-centered">Visible</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in listeCategories %}
            <tr>
                <td>{{ categorie.nom }}</td>
                {% if categorie.visible %}
                    <td class="text-centered"><i class="fa fa-check"></i>
                </td>
                {% else %}
                    <td class="text-centered"><i class="fa fa-times"></i>
                {% endif %}
                <td>
                    <ul class="actions">
                        <li class="action">
                            <a href="{{ path('babdelaurablog_admin_modifierCategorie', {'slug' : categorie.slug}) }}"><i class="fa fa-edit"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}