{% extends "BabdelauraBlogBundle:Admin:layout.html.twig" %}
{% block content %}
    <h1>Les derniers articles</h1>    
    {% include "BabdelauraBlogBundle:Article:grille.html.twig" with {'modeAdmin': true} %}
{% endblock %}