{# src/RCloud/Bundle/RBundle/Resources/views/Editor/showEditor.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}RCloud R Editor{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rcloudr/css/editor.css') }}">
{% endblock %}

{% block body %}
    <div id="editor"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/rcloudr/js/ace/ace.js') }}"></script>
    <script type="text/javascript">
        var editor = ace.edit('editor');
        editor.setTheme('ace/theme/monokai');
        editor.getSession().setMode('ace/mode/r');
    </script>
{% endblock %}