{% extends "BabdelauraAdminBundle::layout.html.twig" %}
{% block content %}
    <h1>Les derniers articles</h1>
    {% include "BabdelauraAdminBundle:Article:grille.html.twig" with {'modeAdmin': true} %}
{% endblock %}
