#editor-container {
    height: 100%;
}

#editor,
#result {
    height: 100%;
}

#result {
    padding: 1em;
}

.menu {
    background-color: #3498db;
}

.menu-item {
    display: block;
    margin: 0;
    padding: 1em;
    border: 0;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    line-height: 21px;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #2980b9;
}