.editor,
.result {
    height: 100%;
}

.result {
    padding: 1em;
    font-family: Consolas, Courier;
    background-color: #ecf0f1;
    overflow-y: scroll;
}

.menu {
    background-color: #3498db;
}

.menu-item {
    display: block;
    margin: 0;
    padding: 1em;
    border: 0;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    line-height: 21px;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #2980b9;
}

section {
    height: 100%;
}

.existing-script {
    cursor: default;
}

.tabs {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}

.tabs li {
    float: left;
}

.tabs label {
    display: block;
    background-color: #373b3f;
    border-radius: 4px 4px 0 0;
    color: #729285;
    cursor: pointer;
    padding: .3em .4em;
    margin-right: .2em;
    font-size: .9em;
}

.tabs label i {
    margin-left: .5em;
}

[id^="tab"]:checked ~ label,
.tabs label:hover {
    color: #fff
}

.tab-content {
    z-index: 2;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

[id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}

.existing-script {
    padding: 0.25em 0.25em;
    border: 1px solid transparent;
    border-radius: 3px;
}

.existing-script:hover {
    border-color: rgba(41, 128, 185,.3);
    background-color: rgba(41, 128, 185,.1);
}

.existing-script.selected {
    border-color: rgba(41, 128, 185,.6);
    background-color: rgba(41, 128, 185,.3);
}

.existing-script::selection {
    background-color: transparent;
    color: inherit;
}