{# src/RCloud/Bundle/UserBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}User profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div>
            <a href="{{ path('show_dashboard') }}">Back to dashboard</a>
        </div>
        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}