.grid {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
 
.grid-item {
    float: left;
    width: 48%;
    margin: 0 0 1.3em;
    text-align: left;
    position: relative;
    overflow: hidden;
    perspective: 1700px;
    perspective-origin: 0 50%;
}

.grid-item:nth-child(2n+1) {
    margin-right: 4%;
}

.grid-item-article {
    margin: 0;
    position: relative;
    transform-style: preserve-3d;
}

.grid-item-article-image {
    max-width: 100%;
    display: block;
    position: relative;
    transition: transform 0.4s;
}

.no-touch .grid-item-article:hover .grid-item-article-image,
.touch .grid-item-article.hover .grid-item-article-image {
    transform: translateX(25%);
}

.grid-item-article-infos {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    background: #2c3f52;
    color: #ed4e6e;
    box-shadow: 0 0 10px 0 $grey-darker;
    height: 100%;
    width: 70%;
    opacity: 0;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform: rotateY(-90deg);
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .grid-item-article:hover .grid-item-article-infos,
.touch .grid-item-article.hover .grid-item-article-infos {
    opacity: 1;
    transform: rotateY(0deg);
    transition: transform 0.4s, opacity 0.1s;
}

.grid-item-article-title {
    margin: 0;
    padding: 0;
}

.grid-item-article-title a {
    color: #fff;
    text-decoration: none;
}

.grid-item-article-title a:hover {
    color: $grey-medium;
}

.grid-item-article-read {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

@media screen and (max-width: 750px) {
    .grid-item {
        float: none;
        width: 100%;
    }
}