.comments {
    list-style: none;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0;
}

.comment {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted $blue-medium;
}

.comment-header {
    margin-bottom: 0.3em;
}

.comment-content {
    padding-left: 1.4em;
    padding-right: 1.4em;
}

.comment:last-child {
    border-bottom-width: 0;
}

.comment-date {
    display: inline-block;
    margin-right: 1em;
}