.social-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.social-fb {
    background-image: url(../images/fb.png);
}

.social-twitter {
    background-image: url(../images/twitter.png);
}

.social-pinterest {
    background-image: url(../images/pinterest.png);
}

.social-instagram {
    background-image: url(../images/instagram.png);
}