.instagram-photos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.instagram-photo {
    float: left;
    width: 45%;
    margin-right: 10%;
    margin-bottom: 1em;
}

.instagram-photo:nth-child(2n) {
    margin-right: 0;
}

.instagram-photo img {
    width: 100%;
    vertical-align: bottom;
}