.notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: .5em;
    box-shadow: 0 0 10px 0 #585858;
}

.notification-success {
    background-color: #2ecc71;
    color: #fff;
}

.notification-info {
    background-color: #a4c3cb;
    color: #fff;
}

.notification-close {
    border-width: 0;
    background-color: transparent;
    position: absolute;
    top: .5em;
    right: .5em;
    color: #000;
}

.notification-content {
    text-align: center;
}