.bab-Grid {
    width: calc(100% + var(--grid-horizontal-gutter));
    margin: 0 calc(-1 * var(--grid-horizontal-gutter) / 2);
}

.bab-Grid::after {
    content: '';

    display: table;

    clear: both;
}

.bab-Grid--smallGutters {
    margin: 0 calc(-1 * var(--grid-horizontal-gutter-small) / 2);
}

.bab-Grid-xSmallGutters {
    margin: 0 calc(-1 * var(--grid-horizontal-gutter-x-small) / 2);
}

.bab-Grid--inlineBlock {
    font-size: 0; /* inline-block container */
}

.bab-Grid-cell {
    padding: 0 calc(var(--grid-horizontal-gutter) / 2);

    float: left;
}

.bab-Grid--smallGutters .bab-Grid-cell {
    padding: 0 calc(var(--grid-horizontal-gutter-small) / 2);
}

.bab-Grid--xSmallGutters .bab-Grid-cell {
    padding: 0 calc(var(--grid-horizontal-gutter-x-small) / 2);
}

.bab-Grid--inlineBlock .bab-Grid-cell {
    display: inline-block;
    margin-bottom: var(--grid-horizontal-gutter);

    float: none;
}

.bab-Grid--inlineBlock.bab-Grid-cell--smallGutter .bab-Grid-cell {
    margin-bottom: var(--grid-horizontal-gutter-small);
}

.bab-Grid--inlineBlock.bab-Grid-cell--xSmallGutter .bab-Grid-cell {
    margin-bottom: var(--grid-horizontal-gutter-x-small);
}

.bab-Grid-cell--1-1 {
    width: 100%;
}

.bab-Grid-cell--1-2 {
    width: 50%;
}

.bab-Grid-cell--1-3 {
    width: 33.33333%;
}

.bab-Grid-cell--2-3 {
    width: 66.66666%;
}

.bab-Grid-cell--1-6 {
    width: 16.66667%;
}

.bab-Grid-cell--1-10 {
    width: 10%;
}
