.bab-Logo {
    display: block;
    width: 393px;
    height: 235px;
    margin: 0 auto;

    font-size: 0;

    background-image: url('../images/new/logo.svg');
    background-size: cover;
    background-position: center;
}
