.table {
    width: 100%;
}

th {
    text-align: left;
    line-height: 1.5;
    padding: .5em;
    vertical-align: bottom;
    border-bottom: 2px solid $grey-light;
}

td {
    text-align: left;
    line-height: 1.5;
    padding: .5em;
    vertical-align: top;
    border-top: 1px solid $grey-light;
}

.table-stripped tbody tr:nth-child(odd) td {
    background-color: $grey-lighter;
}

.table-actions {
    white-space: nowrap;
}
