{% extends "BabdelauraBlogBundle:Admin:layout.html.twig" %}

{% block content %}
    <h1>Galerie</h1>

    {% include 'BabdelauraBlogBundle:Admin/Image:uploadListeImage.html.twig' with {'form': form} only %}
{% endblock %}
