{% extends "BabdelauraBlogBundle:Admin:layout.html.twig" %}

{% block content %}
    <h1>Gallerie</h1>

    {% include 'BabdelauraBlogBundle:Admin/Image:uploadImage.html.twig' %}

    <div data-url="{{ path('babdelaurablog_admin_getImages') }}" class="js-images-gallery">
        <div>
            <button class="js-images-gallery-previous" type="button">
                Page précédente
            </button>
            <button class="js-images-gallery-next" type="button">
                Page suivante
            </button>
        </div>
        <div class="js-images-gallery-images-list"></div>
        <div>
            <button class="js-images-gallery-previous" type="button">
                Page précédente
            </button>
            <button class="js-images-gallery-next" type="button">
                Page suivante
            </button>
        </div>
    </div>
{% endblock %}
