<div class="js-image-upload-list">
    {% include 'BabdelauraBlogBundle:Admin/Image:uploadImage.html.twig' with {'form': form} only %}

    {% include 'BabdelauraBlogBundle:Admin/Image:listeImages.html.twig' %}
</div>
