.grid-title {
    font-family: 'Lobster', cursive;
}

.grid {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.grid-item {
    float: left;
    width: 48%;
    max-width: 300px;
    margin: 0 0 1.3em;
}

.grid-item:nth-child(2n+1) {
    margin-right: 4%;
}

@media screen and (max-width: 750px) {
    .grid-item {
        float: none;
        width: 100%;
    }
}
