.bab-Article-title {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    color: #16a085;
}

.bab-Article-title a {
    text-decoration: none;
}

.bab-Article-title--draft {
    color: #7f8c8d;
}

.bab-Article-infos {
    color: #95a5a6;
    font-size: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.bab-Article-categories {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bab-Article-category {
    display: inline;
}

.bab-Article-separator {
    border: 1px solid #bdc3c7;
    width: 70%;
    margin: 2em auto;
}

.bab-Article-content p {
    text-align: justify;
}

.bab-Article-content img {
    display: block;
    max-width: 100%;
    height: auto !important;
    margin: 1.5em auto;
    transform: rotate(.0001deg);
}

.bab-Article-content--gallery img {
    cursor: pointer;
}

.bab-Article-content figcaption {
    text-align: center;
}

.bab-Article-content iframe {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.bab-Article-content li + li {
    margin-top: 0.6em;
}

.bab-Article-navigation {
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}

.bab-Article--grid {
    margin: 0;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    perspective: 1700px;
    perspective-origin: 0 50%;
}

.bab-Article--grid .bab-Article-image {
    max-width: 100%;
    display: block;
    position: relative;
    transform: translateX(0);
    transition: transform 0.4s;
}

.bab-Article--grid:hover .bab-Article-image,
.bab-Article--grid.hover .bab-Article-image {
    transform: translateX(25%);
}

.bab-Article--grid .bab-Article-infos {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
    background: #2c3f52;
    color: #ed4e6e;
    box-shadow: 0 0 10px 0 #7f8c8der;
    height: 100%;
    width: 70%;
    opacity: 0;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform: rotateY(-90deg);
    transition: transform 0.4s, opacity 0.1s 0.3s;
    font-size: 1rem;
}

.bab-Article--grid:hover .bab-Article-infos,
.bab-Article--grid.hover .bab-Article-infos {
    opacity: 1;
    transform: rotateY(0deg);
    transition: transform 0.4s, opacity 0.1s;
}

.bab-Article--grid .bab-Article-title {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.bab-Article--grid .bab-Article-title a {
    color: #fff;
    text-decoration: none;
}

.bab-Article--grid .bab-Article-title a:hover {
    color: #bdc3c7;
}

.bab-Article--grid .bab-Article-infos .bab-Button {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

@media screen and (max-width: 350px) {
    .bab-Article-navigation .bab-Button {
        float: none;
        display: block;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
