.bab-Button {
    display: inline-block;
    padding: 1em;
    background-color: #1abc9c;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    border-width: 0;
}

.bab-Button:hover,
.bab-Button:focus {
    background-color: #16a085;
}

.bab-Button--fullWidth {
    display: block;
    width: 100%;
}

.bab-Button--small {
    padding: 0.4em;
}
