.bab-Comment {
    padding-top: 1em;
    padding-bottom: 1em;
    list-style: none;
}

.bab-Comment + .bab-Comment {
    border-top: 1px dotted $blue-medium;
}

.bab-Comment-header {
    margin-bottom: 0.3em;
}

.bab-Comment-content {
    padding-left: 1.4em;
    padding-right: 1.4em;
}

.bab-Comment-date {
    display: inline-block;
    margin-right: 1em;
}
