.bab-MainNav {
    background-color: #ecf0f1;
}

.bab-MainNav-toggle {
    display: none;
    border-width: 0;
    background-color: transparent;
    font-size: 1.5em;
}

.bab-MainNav-container {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bab-MainNav-container:after {
    content: '';
    display: table;
    clear: both;
}

.bab-MainNav-item {
    float: left;
    position: relative;
}

.bab-MainNav-item a,
.bab-MainNav-item a:visited {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #2c3e50;
    transition: none;
}

.bab-MainNav-item:hover,
.bab-MainNav-item a:focus,
.bab-MainNav-item a:active {
    background-color: $blue-light;
    color: #fff;
}

.bab-MainNav-item:hover > a,
.bab-MainNav-item a:hover {
    color: #fff;
}

.bab-MainNav-submenu {
    position: absolute;
    width: 11em;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border: 1px solid $grey-medium;
    border-radius: 3px;
    list-style: none;
    padding: 0;
    z-index: 4;
}

.bab-MainNav-submenu:before {
    content: '';
    position: absolute;
    top: -14px;
    left: 21px;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    z-index: 3;
}

.bab-MainNav-submenu:after {
    content: '';
    position: absolute;
    top: -16px;
    left: 20px;
    border: 8px solid transparent;
    border-bottom-color: $grey-medium;
    z-index: 2;
}

.bab-MainNav-item:hover .bab-MainNav-submenu,
.bab-MainNav-item a:focus + .bab-MainNav-submenu {
    visibility: visible;
    opacity: 1;
}

.bab-MainNav-submenuItem a {
    padding: .4em;
}

.bab-MainNav-submenuItem:first-child a {
    margin-top: .2em;
}

.bab-MainNav-submenuItem a:hover {
    background-color: $grey-light;
}

@media screen and (max-width: 500px) {
    .bab-MainNav-toggle {
        display: block;
    }

    .bab-MainNav-container {
        height: 0;
        overflow: hidden;
    }

    .bab-MainNav--open .bab-MainNav-container {
        height: auto;
    }

    .bab-MainNav-item {
        float: none;
        display: block;
        width: 100%;
    }

    .bab-MainNav-submenu {
        position: static;
        display: block;
        width: 100%;
        opacity: 1;
        visibility: visible;
        border-width: 0;
        transform: translateY(0);
    }

    .bab-MainNav-submenuItem a {
        padding: .4em 2em;
    }

    .bab-MainNav-submenuItem:first-child a {
        margin-top: 0;
    }
}
