.bab-Searchbar {
    position: relative;

    font-size: 0; /* inline-block container */
}

.bab-Searchbar-input,
.bab-Searchbar-submit {
    font-size: 1rem;
}

.bab-Searchbar-input {
    display: block;
    width: 100%;
    padding: 8px 30px 8px 15px;
    border: 1px solid #eee;

    text-overflow: ellipsis;
    box-shadow: 0 0 5px 0 transparent;
    transition: box-shadow 0.3s;
    border-radius: 2px;
}

.bab-Searchbar-input:focus {
    border: 1px solid #16a085;
    box-shadow: 0 0 5px 0 #16a085;
}

.bab-Searchbar-submit {
    position: absolute;
    top: 50%;
    right: 10px;

    padding: 0;
    border-width: 0;

    background-color: transparent;
    transform: translateY(-50%);
}
