<div class="bab-CookieBar js-cookie-bar">
    <p class="bab-CookieBar-content">
        En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies.
        <button class="bab-CookieBar-button js-cookie-bar-button" type="button">
            J'accepte
        </button>
    </p>
</div>
