<footer class="bab-Footer">
    <ul class="bab-Footer-pagesContainer">
        {% for page in pages %}
        <li class="bab-Footer-page">
            <a class="bab-Footer-pageLink" href="{{ path('babdelaurablog_page', {'slug': page.slug}) }}">
                {{ page.titre }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <p>
        Design réalisé par <a class="bab-Footer-pageLink" href="http://www.bricabrac-de-laura.fr">Bric à Brac de Laura</a> &amp; <a class="bab-Footer-pageLink" href="http://www.http://jesmodrazik.fr/">Jesmo Drazik</a><br />
        Logo réalisé par <a class="bab-Footer-pageLink" href="http://www.odilesacoche.be">Odile Sacoche</a><br />
        © Bric à Brac de Laura 2014 - 2016
    </p>
</footer>
