<footer class="bab-Footer">
    <ul class="bab-Footer-pagesContainer">
        {% for page in pages %}
        <li class="bab-Footer-page">
            <a class="bab-Footer-pageLink" href="{{ path('babdelaurablog_page', {'slug': page.slug}) }}">
                {{ page.titre }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <p>
        2014 - 2016 (c) Bric à Brac de Laura<br />
        Design by Bric à Brac de Laura &amp; Jesmo Drazik<br />
        Logo by Odile Sacoche
    </p>
</footer>
