<header class="bab-Header">
    <div class="bab-Wrapper">
        <div class="bab-Grid">
            <div class="bab-Grid-cell bab-Grid-cell--1-6">
                {% include 'BabdelauraBlogBundle:Layout:socials.html.twig' %}
            </div>
            <div class="bab-Grid-cell bab-Grid-cell--2-3">
                {% include 'BabdelauraBlogBundle:Layout:navigation.html.twig' %}
            </div>
            <div class="bab-Grid-cell bab-Grid-cell--1-6 align-right">
                {% include 'BabdelauraBlogBundle:Layout:search.html.twig' %}
            </div>
        </div>
    </div>
</header>
