<header class="bab-Header">
    <div class="bab-Wrapper">
        <div class="bab-Grid">
            <div class="bab-Grid-cell bab-Grid-cell--1-6">&nbsp;</div>
            <div class="bab-Grid-cell bab-Grid-cell--2-3">
                <nav class="bab-Navigation">
                    <a class="bab-Navigation-item" href="#">
                        Bijoux
                    </a>
                    <a class="bab-Navigation-item" href="#">
                        Nail art
                    </a>
                    <a class="bab-Navigation-item" href="#">
                        Divers
                    </a>
                    <a class="bab-Navigation-item" href="#">
                        Qui suis-je ?
                    </a>
                    <a class="bab-Navigation-item bab-Navigation-item--odd" href="#">
                        Boutique
                    </a>
                    <a class="bab-Navigation-item" href="#">
                        Contact
                    </a>
                </nav>
            </div>
            <div class="bab-Grid-cell bab-Grid-cell--1-6">&nbsp;</div>
        </div>
    </div>
</header>
