<div class="bab-Grid bab-Grid--xSmallGutters">
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <div class="InstagramPhoto"></div>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <div class="InstagramPhoto"></div>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <div class="InstagramPhoto"></div>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <div class="InstagramPhoto"></div>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <div class="InstagramPhoto"></div>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <div class="InstagramPhoto"></div>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <div class="InstagramPhoto"></div>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <div class="InstagramPhoto"></div>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <div class="InstagramPhoto"></div>
    </div>
    <div class="bab-Grid-cell bab-Grid-cell--1-10">
        <a class="InstagramPhoto InstagramPhoto--more" href="#" title="Voir les autres photos sur Instagram"></a>
    </div>
</div>
