<section class="bab-Section">
    <h2 class="bab-Section-title">
        L'actu instagram
    </h2>
    <div class="bab-Grid bab-Grid--xSmallGutters">
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto" href="#" target="social"></a>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto" href="#" target="social"></a>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto" href="#" target="social"></a>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto" href="#" target="social"></a>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto" href="#" target="social"></a>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto" href="#" target="social"></a>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto" href="#" target="social"></a>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto" href="#" target="social"></a>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto" href="#" target="social"></a>
        </div>
        <div class="bab-Grid-cell bab-Grid-cell--1-10">
            <a class="InstagramPhoto InstagramPhoto--more" href="#" title="Voir les autres photos sur Instagram" target="social"></a>
        </div>
    </div>
</section>
