<nav class="bab-Navigation">
    {% for category in categories %}
    <a class="bab-Navigation-item" href="{{ path('babdelaurablog_categorie', {'slug': category.slug}) }}">
        {{ category.nom }}
    </a>
    {% endfor %}

    {% for page in pages %}
    <a class="bab-Navigation-item" href="{{ path('babdelaurablog_page', {'slug': page.slug}) }}">
        {{ page.titre }}
    </a>
    {% endfor %}
</nav>
