<nav class="bab-Navigation">
    <a class="bab-Navigation-item" href="#">
        Bijoux
    </a>
    <a class="bab-Navigation-item" href="#">
        Nail art
    </a>
    <a class="bab-Navigation-item" href="#">
        Divers
    </a>
    <a class="bab-Navigation-item" href="#">
        Qui suis-je ?
    </a>
    <a class="bab-Navigation-item bab-Navigation-item--odd" href="#">
        Boutique
    </a>
    <a class="bab-Navigation-item" href="#">
        Contact
    </a>
</nav>
