<div class="bab-Socials">
    <a href="https://www.facebook.com/BabDeLaura" class="bab-Social" target="social" title="Page Facebook">
        {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'facebook', 'size': 16} only %}
    </a>
    <a href="http://instagram.com/BabDeLaura" class="bab-Social" target="social" title="Profil Instagram">
        {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'instagram', 'size': 16} only %}
    </a>
    <a href="https://twitter.com/BabDeLaura" class="bab-Social" target="social" title="Profil Twitter">
        {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'twitter', 'size': 16} only %}
    </a>
    <a href="http://www.pinterest.com/BabDeLaura/" class="bab-Social" target="social" title="Profil Pinterest">
        {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'pinterest2', 'size': 16} only %}
    </a>
    <a href="{{ path('babdelaurablog_rss') }}" class="bab-Social" target="social" title="Flux RSS">
        {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'rss', 'size': 16} only %}
    </a>
    <a href="http://www.hellocoton.fr/mapage/bricabrac-de-laura" class="bab-Social" target="social" title="Page Hello Coton">
        {% include 'BabdelauraBlogBundle:Components:icon.html.twig' with {'name': 'helloCoton', 'size': 20} only %}
    </a>
</div>
