<div>
    <!-- Facebook -->
    <div class="social-share-item">
        <div class="fb-like" data-href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>

    <!-- Twitter -->
    <div class="social-share-item">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="BabDeLaura" data-lang="fr">Tweeter</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

    <!-- Pinterest -->
    <div class="social-share-item">
        <a href="//fr.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>

        <script type="text/javascript">
            (function(d){
                var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
                p.type = 'text/javascript';
                p.async = true;
                p.src = '//assets.pinterest.com/js/pinit.js';
                f.parentNode.insertBefore(p, f);
            }(document));
        </script>
    </div>

    <!-- Hellocoton -->
<!--     <span style="display:block;width:147px;height:26px;position:relative;padding:0;border:10px 0px;margin:0;clear:both;"><a href="http://www.hellocoton.fr/vote" target="_blank" style="display:block;width:121px;height:26px;position:absolute;top:0;left:0;"><img src="http://widget.hellocoton.fr/img/action-on.gif" border="0" style="background:transparent;padding:0;border:0;margin:0;float:none;" /></a><a href="http://www.hellocoton.fr" target="_blank" style="display:block;width:27px;height:26px;position:absolute;top:0;left:120px;"><img src="http://widget.hellocoton.fr/img/hellocoton.gif" border="0" alt="Rendez-vous sur Hellocoton !" style="background:transparent;padding:0;border:0;margin:0;float:none;" /></a></span> -->
</div>
