.bab-Logo {
    display: block;
    max-width: 500px;
    margin: 0 auto;

    font-size: 0;

    background-image: url('../../images/new/logo.svg');
    background-size: cover;
    background-position: center;
}

.bab-Logo-container {
	margin: 0;
}

.bab-Logo::before {
    content: '';

    display: block;
    padding-top: 50%;
}
