{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% block content %}
    {% include 'BabdelauraBlogBundle:Components/article:list.html.twig' with {'articles': articles, 'featured': true} only %}
    <div class="align-center">
        <a class="bab-Button" href="{{ path('babdelaurablog_tousLesArticles') }}?page=2">
            Articles plus anciens >
        </a>
    </div>
{% endblock %}
