<section class="bab-Sidebar-section">
    <h1 class="bab-Sidebar-title">Flux instagram</h1>
    <ul class="list-unstyled">
        {% for result in results%}
            <li class="bab-Instagram-photo">
                <a href="{{ result.link }}" target="_blank"><img src="{{ result.images.thumbnail.url }}" alt="Image Instagram" /></a>
            </li>
        {% endfor %}
    </ul>
</section>
