@import 'normalize.css';

@import 'legacy/helpers/utils';

@import 'legacy/base/typography';

p {
    text-align: justify;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.bab-Article-signature {
    text-align: right;
}

.bab-Article-signature img {
    display: inline-block;
    margin: 0;
}
