.bab-ArticlePreview {
    font-size: 1rem;

    text-align: center;
}

.bab-ArticlePreview-header {
    position: relative;

    width: 100%;
    height: 230px;

    background-size: cover;
    background-position: center;
}

.bab-ArticlePreview-readMore {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.bab-ArticlePreview:hover .bab-ArticlePreview-readMore {
    opacity: 1;
    visibility: visible;
}

.bab-ArticlePreview-title {
    margin: 10px 0;

    font-size: 24px;
    font-weight: normal;

    color: var(--title-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bab-ArticlePreview-title a {
    color: inherit;
    text-decoration: none;
}

.bab-ArticlePreview-infos {
    font-size: 14px;
}

.bab-ArticlePreview-infos :nth-child(odd) {
    color: var(--main-color);
}

.bab-ArticlePreview-infos :nth-child(even) {
    color: var(--text-light-color);
}

.bab-ArticlePreview-infos a {
    text-decoration: none;
}

.bab-ArticlePreview-infos :not(:first-child)::before {
    content: '¤';

    display: inline-block;
    margin-right: 3px;

    color: var(--main-color);
}
