.bab-Search {
    position: relative;

    padding-top: 8px;
}

.bab-Search-opener {
    border-width: 0;

    background-color: transparent;
    cursor: pointer;
}

.bab-Search-form {
    position: absolute;

    transition: all 0.2s;
}

.bab-Search-form--hidden {
    opacity: 0;
    visibility: hidden;
}

.bab-Search-input {
    padding: 10px;
    border: 1px solid;

    font-size: 18px;
}
