.bab-Tag {
    padding: 2px 4px;
    margin-bottom: 5px;

    font-size: 14px;

    border-radius: 4px;
    color: #fff;
    background-color: var(--main-color);
    white-space: nowrap;
}

.bab-Tag a {
    color: inherit;
    text-decoration: none;
}

.bab-Tag:not(:last-child) {
    margin-right: 4px;
}
