.row {
    width: 100%;
}

.columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
}

.columns .columns {
    padding: 0;
}

.columns .columns + .columns {
    padding-left: 15px;
}

.row .one { width: 8.33%; }
.row .two { width: 16.66%; }
.row .three { width: 25%; }
.row .four { width: 33.33%; }
.row .five { width: 41.66%; }
.row .six { width: 50%; }
.row .seven { width: 58.33%; }
.row .eight { width: 66.66%; }
.row .nine { width: 75%; }
.row .ten { width: 83.33%; }
.row .eleven { width: 91.66%; }
.row .twelve { width: 100%; }

.row:after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (max-width: 550px) {
    .row > * {
        float: none;
        width: 100% !important;
        margin-bottom: 2em;
    }
}
