.bab-Sidebar-section {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #34495e;
}

.bab-Sidebar-section:first-child {
    padding-top: 0;
}

.bab-Sidebar-section:last-child {
    padding-bottom: 0;
    border-bottom-width: 0;
}

.bab-Sidebar-title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    color: $grey-dark;
}
