.Navigation {
  padding-top: 30px;
}

.Navigation_group + .Navigation_group {
  margin-top: 30px;
}

.Navigation_item-hasSubNav > .Navigation_group {
  position: absolute;
  left: 100%;
  top: 0;

  display: none;

  white-space: nowrap;
  background-color: #3a3a3a;
}

.Navigation_item-hasSubNav:hover > .Navigation_group {
  display: block;
}

.Navigation_item-current.Navigation_item-hasSubNav > .Navigation_group {
  position: static;

  display: block;
}

.Navigation_item {
  position: relative;

  font-size: 18px;
}

.Navigation_item:hover {
  background-color: #000;
}

.Navigation_link {
  position: relative;

  display: block;
  padding: 2px 20px;

  text-decoration: none;
  color: #fff;
}

.Navigation_item-current > .Navigation_link {
  background-color: var(--main-color);
  font-weight: bold;
}

.Navigation_link::after {
  content: '';

  position: absolute;
  top: 50%;
  right: 0;

  border: 8px solid transparent;
  border-right-width: 10px;

  transform: translateY(-50%);
}

.Navigation_item-hasSubNav:hover > .Navigation_link::after {
  border-right-color: #3a3a3a;
}

.Navigation_item-current > .Navigation_link::after,
.Navigation_item-current:hover > .Navigation_link::after {
  border-right-color: #f1f1f1;
}

.Navigation_item-hasSubNav > .Navigation_group .Navigation_item {
  background-color: transparent;
}

.Navigation_item-hasSubNav > .Navigation_group .Navigation_link::after {
  border-right-color: transparent;
}

.Navigation_icon {
  margin-right: 5px;
}
