.Search_field {
  height: 25px;

  border: 1px solid #aaa;
  border-radius: 2px;

  color: var(--text-color);
}


.Search_field-input {
  width: 220px;

  padding-left: 5px;
  padding-right: 5px;
}

.Search_field-button {
  padding-left: 12px;
  padding-right: 12px;

  background-color: #f9f9f9;
}

.Search_field-button:hover {
  border-color: #777;
  background-color: #fff;
  cursor: pointer;
}

.Search_field-button:active {
  background-color: #aaa;
  box-shadow: inset 0 3px 6px -3px rgba(0,0,0,.5);
  transform: translateY(1px);
}
