body {
    font-family: serif;
    color: var(--text-color);
}

p {

}

a,
a:visited {

}

a:hover,
a:focus,
a:active {

}

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
    margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
}
