{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% set metaDescription = page.contenu | truncate(500,true) | striptags %}

{% block facebookMetas %}
    {% set ogTitle = page.titre %}

    {{ parent() }}
{% endblock %}

{% block mainContent %}

    <section>
        <header>
            <h1 class="bab-Article-title">{{ page.titre }}</h1>
            <aside class="bab-Article-infos">
                Le {{ page.datePublication|date("d/m/Y à H:i") }}
            </aside>
        </header>
        <div class="bab-Article-content">
            {{page.contenu | raw}}
        </div>
    </section>

{% endblock %}
