{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% set metaDescription = page.contenu | truncate(500,true) | striptags %}

{% block facebookMetas %}
    {% set ogTitle = page.titre %}

    {{ parent() }}
{% endblock %}

{% block mainContent %}
    <section>
        <header>
            <h2 class="bab-Article-title">{{ page.titre }}</h2>
        </header>
        <div class="bab-Article-content">
            {{ page.contenu | raw }}
        </div>
    </section>
{% endblock %}
