{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% set metaDescription = page.contenu | truncate(500,true) | striptags %}

{% block facebookMetas %}
    {% set ogTitle = page.titre %}

    {{ parent() }}
{% endblock %}

{% block mainContent %}

    <section class="article">
        <header>
            <h1 class="article-title">{{ page.titre }}</h1>
            <aside class="article-infos">
                Le {{ page.datePublication|date("d/m/Y à H:i") }}
            </aside>
        </header>
        <div class="article-content">
            <p>{{page.contenu | raw}}</p>
        </div>
    </section>

{% endblock %}