{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% set metaDescription = page.contenu | truncate(500,true) | striptags %}

{% block facebookMetas %}
    {% set ogTitle = page.titre %}

    {{ parent() }}
{% endblock %}

{% block content %}
    <article class="bab-Article">
        <header class="bab-Article-header">
            <h2 class="bab-Article-title">
                {{ page.titre }}
            </h2>
        </header>
        <div class="bab-Article-content">
            {{ page.contenu|raw }}
        </div>
    </article>
{% endblock %}
