<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Administration - Bric à Brac de Laura</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Vollkorn:400,400i,700,700i" rel="stylesheet" />
    <script src="{{ asset('assets/admin.js') }}"></script>
</head>

<body>
    <div class="Sidebar">
      <nav class="Navigation">
        <div class="Navigation_item Navigation_item-current">
          <a href="#" class="Navigation_link">Accueil</a>
        </div>
        <div class="Navigation_item">
          <a href="#" class="Navigation_link">Statistiques</a>
        </div>
      </nav>
    </div>
</body>

</html>
