{% extends "BabdelauraBlogBundle::layout.html.twig" %}

{% block content %}
    <h1>Galerie</h1>

    {% include 'BabdelauraBlogBundle:Image:uploadListeImage.html.twig' with {'form': form} only %}
{% endblock %}
