<div class="js-image-upload-list">
    {% include 'BabdelauraAdminBundle:Image:uploadImage.html.twig' with {'form': form} only %}

    {% include 'BabdelauraAdminBundle:Image:listeImages.html.twig' %}
</div>
