{% extends "BabdelauraBlogBundle:Mail:layoutMail.html.twig" %}

{% block content %}
	<div>Votre message a bien été envoyé à Bric à Brac de Laura</div>
	<div>Nom : {{data.nom}}</div>
	<div>Mail : {{data.email}} </div>
	<div>Message : {{data.contenu}}</div>

	<div>Ne pas répondre à ce message</div>
{% endblock %}